<ion-header>
  <ion-toolbar>
    <ion-title>Virement entre compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="ion-card">
      <form [formGroup]="transferFrom" (ngSubmit)="presentAlertConfirm()">
        <div class="input">
          <label>Account Source</label>
          <input type="number" formControlName="accountSource" class="from-control">

          <label>Account Destination</label>
          <input type="number" formControlName="accountDestination" class="from-control">

          <label>Amount</label>
          <input class="input" type="number" formControlName="amount" class="form-control">
        </div>
        <div>
          <ion-button type="submit" class="btn" [disabled]="!transferFrom.valid" >Valider</ion-button>
          <ion-button class="btn" routerLink="/account">Annuler</ion-button><br />
        </div>
      </form>
  </ion-card>
</ion-content>

