<ion-content class="content">
  <ion-tabs class="content">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="connexion">
        <!--<ion-icon name="star-outline" color="light"></ion-icon>-->
        <ion-label>Connexion</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="inscription">
       <!-- <ion-icon name="list-circle-outline" color="light"></ion-icon>-->
        <ion-label >Inscription</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <!-- <ion-icon name="list-circle-outline" color="light"></ion-icon>-->
         <ion-label>Compte</ion-label>
       </ion-tab-button>

      <ion-tab-button tab="transfer">
        <!--<ion-icon name="chatbox-outline" color="light"></ion-icon>-->
        <ion-label>Virements</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-content>
