<ion-header>
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="accountFormGroup" class="form" (ngSubmit)='submitAccount()'>
      <input type="number" formControlName="accountId" placeholder="  Numéro du compte">

    <button><ion-icon name="search"></ion-icon>Search</button>
  </form>

  <div *ngIf="accountObservable | async as accountDetails">
    <div>
      <label>Numéro de compte</label>
      <label>{{accountDetails.accountId}}</label>
    </div>
    <div>
      <label>Solde</label>
      <label>{{accountDetails.balance | number : '1.2-2'}}</label>
    </div>


    <table class="thead">
      <thead >
        <th>Date</th><th>Type</th><th>Montant</th>
      </thead>
      <tbody>
        <tr *ngFor="let operation of accountDetails.accountOperationsDto.content ">
          <td>{{operation.createdAt| date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
          <td>{{operation.type}}</td>
          <td>{{operation.amount | number : '1.2-2'}}</td>
        </tr>
        </tbody>
    </table>
    <ul>
      <li>
      </li>
    </ul>
  </div>
  </div>
</ion-content>

