ion-title{
  text-align: center;
}

.thead{
  text-align: center;
}
.form{
  font-size: 20px;
  margin-top: 27px;
  padding: 7px ;
}
.input{
  padding: 11px;
  font-size: 15px;
}
.btn {
  text-align: center;
  font-size: 12px;
  --background: rgb(218, 85, 116);
  color: black;
  cursor: pointer;
}
.head{
  font-size:15px;
}
.nbr{
  font-size: 20px;
}
th{
  padding: 15px;
}
tr
{
  padding: 15px;
  font-size: 20px;
}
